<div id='the-scene' class="palm-scene linkList">
    <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
    <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
    <div id="greyOut" class="palm-scrim">
        <div id="fullScreenSpinner" x-mojo-element="Spinner"></div>
    </div>
    <div id="header" class="palm-page-header multi-line reddit-header" x-mojo-tap-highlight="immediate">
        <div class="palm-page-header-wrapper">
            <div class="reddit-logo-line">
                <div class="nameFade">
                    <div class="nameContainer">
                        <span id="subredditName"></span><span id="fakeName"></span>
                    </div>
                </div>
                <!-- <div class="logoFade"></div> -->
                <!-- <div class="nameBack"></div> -->
                <img id="redditLogo" src="http://static.reddit.com/reddit.com.header.png" />
            </div>
        </div>
    </div>
    <!-- <div id="adView" x-mojo-element="WebView"></div> -->
    <div id="postList" x-mojo-element="List"></div>
</div>
