<div class="palm-page-header">
    <div class="palm-page-header-wrapper">
        <div class="icon palm-account-icon local"></div>
        <div class="title">Add an account</div>
    </div>
</div>
<div class="palm-group">
    <div class="palm-group-title" x-mojo-loc="">Login</div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight='true'>
                <div class="title">
                    <div id="loginField" x-mojo-element="TextField"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
    <div class="palm-group-title" x-mojo-loc="">Password</div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight='true'>
                <div class="title">
                    <div id="passwordField" x-mojo-element="PasswordField"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="palm-inline-error" style="display: none" id="error_message">
    <div id="error_message_text" class="error-message"></div>
</div>
<div id="saveAccountButton" x-mojo-element="Button"></div>
<div id="logoutButton" x-mojo-element="Button"></div>
