<div class="palm-scene comments">
    <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
    <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
    <div id="permalink-header">
        <p>you are viewing a single comment's thread.</p>
        <p>view the rest of the comments &rarr;</p>
    </div>
    <div id="link" class="comments-page-link" style="display:none" x-mojo-tap-highlight="momentary"></div>
    <div id="commentsList" class="comments-page-list" style="display:none"></div>
</div>
