<div class="comment">
    <div name="baseComment" class="base-comment" x-mojo-tap-highlight="momentary">
        <div class="vote">
            <div class="arrow up #{likesFormatted}"></div>
            <div class="arrow down #{likesFormatted}"></div>
        </div>
        <div>
            <div class="tag-line">
                <span class="author">#{author}</span> <span name="score">#{score}</span> points #{created_utcFormatted} ago
            </div>
            <div class="body">
                #{-body_html}
            </div>
            <div name="options"></div>
        </div>
    </div>
    <div class="children #{childrenClass}">
        #{-children}
    </div>
</div>
