<div class="vote">
    <div class="arrow up #{likesFormatted}"></div>
    <div class="score #{likesFormatted}">#{score}</div>
    <div class="arrow down #{likesFormatted}"></div>
</div>
<div>
    <div class="title-line">
        <span class="title">#{-title}</span> <span class='subreddit'>(#{domain})</span>
    </div>
    <div class="tag-line">
        submitted #{created_utcFormatted} ago by <span class="author">#{author}</span>
    </div>
    <div id="selftext" class="selftext">#{-selftext_html}</div>
</div>
